* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
}
html {
    scroll-behavior: smooth; /*animação de rolagem*/
}

/*NAVBAR*/
.navbar{ 
    display: flex;
    justify-content: center;
    height: 61px;
    width: 100%;
    position: fixed;

    background-color: #04424d;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.5);

    z-index: 1;
}
.image-icons {
    margin: 10px 17px -4px;
}
.navbar img {
    display: flex;

    height: 47px;
}
.navbar div {
    display: flex;
    align-items: center;

    font-weight: bold;
}
.navbar div a {
    color: #fff;

    margin-right: 44px;
    
    font-size: 16px;   

    display: flex;
    align-items: center;
}
.navbar div a:hover {
    transition: .9s linear;
    color:  rgb(255 229 75);
}
.navbar div a svg {
    margin-right: 11px;
    width: 20px;
    height: 21px;
}

/*CONTENT*/

#box-skins {
    display: flex;
    width: 100%;
    height: 100vh;    
    margin-bottom: 100px;

    align-items: center;
    justify-content: center;

    padding-top: 63px;
}


.box-skins-container img {
    height: 100%;
}

.box-skins-container{
    height: 578px;
    position: relative;
}
.box-skins-show {
    width: 292px;
    height: 100%;
    position: absolute;

    background-color: #0a0a0ab3;


    backdrop-filter: blur(5px);
}

.box-skins-show h2 {
    font-size: 23px;
    font-style: italic;
    letter-spacing: 0.10em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: serif;
    border-bottom: 0.2px solid rgb(255 255 255);
    padding: 15px;
    margin: 16px;
    color: #fff;
}

.box-all-skins{
    overflow-y: auto;
    height: 100%;
    max-height: calc(100% - 115px);
    padding-bottom: 10px;
}

.box-all-skins::-webkit-scrollbar { /*Background scrool*/
    background-color: none;
    width: 5px;
}
.box-all-skins::-webkit-scrollbar-thumb {
    background-color: #fff;
    width: 158px;
    border: 2px solid black;
}

.ekko-skins {
    display: flex;
    flex-direction: column;   
}
.ekko-skins li {
    display: flex;
    width: 100%;
}
.ekko-skins li button {
    background: none;

    display: flex;
    align-items: center;

    width: 100%;
    margin: 15px 15px 0px 15px;
    border: 0.5px #d6c8c8 solid;
}
.ekko-skins li button img {
    width: 105px;
}
.ekko-skins li button label {
    margin-left: 20px;
    color: #fff;

    text-transform: uppercase;
}

.content-2 img {
    display: flex;
    width: 455px;
    margin: auto;
}
.content-2 a{
    display: flex;
    flex-direction: column;

    width: 250px;
    height: 54px;
    margin: 0px auto;
    background: #f1f1f1;
    border: #04424d solid 2px;

    line-height: 48px;
    text-align: center;
    color: #04424d;    
    text-transform: uppercase;
    font-weight: bold;
    transition: .4s linear;
}
.content-2 a:hover {
    background: #04424d;
    border:  #f1f1f1 solid 2px;
    color:  #f1f1f1;
}

#full-screen { 
    width: 100%;
    height: 100vh;

    overflow: hidden;
    display: flex;    
    align-items: center;
    justify-content: center;

    box-shadow: 0 -3px 10px 4px #04424d;
}
#full-screen video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
#full-screen p {
    color: white;
    line-height: 93px;
}

    /*CONTENT
        HISTORY*/
.box-history-profile {
    height: 600px;

    margin-top: 73px;
    display: flex;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.box-history-profile img {
    width: 240px;

    display: flex;    
    margin-top: 70px;
    border-radius: 132px;

    box-shadow: 0 3px 32px 4px #04424d;}
.box-history-profile h2 {
    margin: 20px 0px 20px 0px;
}
.box-history-profile p {
    max-width: 800px;

    text-align: center;
    color: #00000087;
    font-weight: bold;
}


#box-reason {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color:#04424d;

    width: 100%;
    height: 100vh;
}
#box-reason div {
    width: 303px;;
    height: 243px;
    margin: 0px 35px 15px 0px;

    flex-direction: column;
    align-items: center;
    display: flex;
}
#box-reason svg {
    color: #fff;
    display: flex;
    height: 102px;
    width: 126px;
    margin: auto;
}
#box-reason h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 15px;
}
#box-reason p {
    text-align: center;
    color: #fff;
}

    /*CONTENT*/
        /*SKINS*/
h1 {
    margin: 10px 20px;
}
section { 
    display: flex;
    max-width: 879px;
    margin: 20px;
    flex-wrap: wrap;
    max-height: 652px;
}
section article {
    height: auto;
    width: 850px;
    margin: 2px;
}
section article div {
    align-self: center;
}
section article div h3 {
    text-align: center;
    color: #fff;
}
section article div p {
    margin: 20px 7px;
    text-align: justify;

    color: #fff;
}
/*CONTENT 
    SKINS
        PERFIL*/
aside {
    display: flex;
    flex-direction: column;

    width: 361px;
    margin: 20px;
}
aside img {
    width: 361px;
}
aside img:first-child {
    margin-top: 75px;
}

/*FOOTER*/

footer { 
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 145px;

}   
footer svg {
    height: 25px;
    width: 25px;
    color:#04424d;
}
.footer-icons {
    width: 100%;
    height: 100%;
    background-color:#04424d;
    color: white;
    font-size: 12px;

    justify-content: center;
    align-items: center;
    display: flex;
}

.footer-icons div {
    width: 372px;
    height: 100%;
    
    display: flex;
    align-items: center;
}
.footer-icons div a {
    color: #fff;
}
.footer-icons div img {
    height: 40px;
}
.footer-icons div p {
    margin: 5px 0px 0px 14px;
    height: 50px;
    padding-left: 15px;
    border-left: 2px solid white;
}
.footer-copyright {
    background-color: white;
    
    width: 100%;
    height: 51px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
    color: #04424d;
    font-weight: bold;
}
.footer-copyright a{
    color:#04424d;
    margin-left: 4px;
    font-weight: bold;
}

.navbar .icon {
    display: none;
}

/*RESPONSIVE*/
@media (max-width:996px) {
    #full-screen {
        box-shadow: none;   
    }
}
@media (max-width:996px) {
    .box-history-profile {
        font-size: 12px;
    }

    #box-reason div {
        padding: 28px;
    }
    #box-reason svg{
        width: 60px;
        font-size: 12px;
    }
    .box-skins-container {
        height: 403px;
    }
    .box-skins-show {
        height: 120px;
        width: 100%;
        top: calc(100% - 120px);
    }
    .box-skins-show h2 {
        display: none;    
    }

    .box-all-skins {
    overflow-x: scroll;

    display: flex;
    align-items: center;

    height: 116px;
    width: 100%;
    max-height: none;
    }
    .ekko-skins {
        align-items: center;
        min-width: 160px;
    }
    .ekko-skins li button {
        margin: 0;
        margin-left: 10px;

        display: flex;
        margin: 0;
        margin-left: 10px;
        flex-direction: column;
        border: none;
        height: 77px;
        width: 122px;
    }
    .ekko-skins:last-child  li button{
        margin-right: 10px;
    }
    .ekko-skins li button label {
        margin-left: 0;
        display: none;
    }
    .ekko-skins li button img {
        width: 100%;
    }
    .box-all-skins::-webkit-scrollbar { /*Background scrool*/
        background-color: none;
        width: 5px;
        height: 6px;
    }
    .box-all-skins::-webkit-scrollbar-thumb {
        background-color: #fff;
        width: 158px;
        border: 2px solid black;
    }    

}

@media (max-width:700px) {
    .box-skins-container {
        height: 271px;
    }
}


